body{
  background-color: rgb(58, 56, 56);
}

h1{
  font-family: 'Texturina', serif;
  font-size: 100px;
  padding: 2% 5%;
}

p{
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding: 3%;
}

.text-color {
  color: rgb(20, 187, 123);
}

.container{
  text-align: center;
}

.btn{
  font-family: 'Cinzel', serif;
  margin-top: 5%;
}

img{
  width: 40%;
}

footer{
  color: rgb(118, 160, 197);
  text-align: center;
  padding-top: 60px;
}